[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"
rich = "*"
pytest = "*"
sphinx = "*"
myst-parser = "*"
sphinxcontrib-autoprogram = "*"
karma-sphinx-theme = "*"
sphinx-click = "*"
pytest-cov = "*"

[packages]
boxsdk = {extras = ["jwt"],version = "*"}
click = "*"
progress = "*"

[requires]
python_version = "3"
